*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

.webgl{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
}

.nav-bar a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-bar li a{
  font-weight: normal;
}

.nav-bar ul{
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 3rem;
}


/*scroll indicator*/

.scroll-div {
  position: absolute;
  bottom: 3%;
  left: 50%;
  z-index: 2;
  cursor: pointer;
}

.scroll-middle {
  width: 35px;
  height: 64px;
  border-radius: 3rem;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

/*middle scroll ball*/
.scroll-middle::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 3s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -30px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}




/*projects section*/

#projects {
  margin-top: 100vh;
  z-index: 2;
  position: relative;
  color: white;
  padding: 4rem 8rem;
}

.projects-small-title{
  font-weight: lighter;
}

.projects-title{
  font-weight: bold;
  font-size: 3rem;
}

.projects-bio{
  margin-top: 10px;
  font-weight: lighter;
}

.projects-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.project-container{
  display: flex;
  width: 360px;
  background-color: #020021;
  border-radius: 5%;
  padding: 1rem;
  margin-top: 80px;
  flex-direction: column;
  margin-right: 20px;
  opacity: 0;
}

.project-container img{
  border-radius: 5%;
  width: 100%;
  height: 180px;

}

.project-container h3{
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.project-container p{
  font-weight: lighter;
  line-height: 1.5em;
}

.project-container p a{
  color: aliceblue;
}

.project-tags{
  padding: 20px 10px 10px 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: .8em;
}

.html{
  color: green;
}

.css{
  color: deeppink;
}

.sql{
  color: lightblue;
}

.js{
  color: orange;
}

.node{
  color: yellow;
}

.express{
  color: red;
}

@media (max-width: 576px) {
  .nav-bar{
    padding: 3em 4em;
  }
  #projects{
    padding: 3em 4em;
  }
  .projects-container{
    justify-content: center;
  }
}

@media (max-width: 420px){
  .nav-bar{
    padding: 2em 2em;
  }

  #projects{
    padding: 3em 2em;
  }
}

#contact {
  display: flex;
  margin-top: 80px; 
  z-index: 2;
  position: relative;
  color: white;
  padding: 4rem 4rem 8em 4rem;
  flex-direction: row;
}


/* contact form */

.contact-form{
  background-color: #020021;
  flex: 50%;
  padding: 2em;
  border-radius: 1rem;
}

.contact-title-container{
  padding-bottom: 1em;
}

.contact-title-container p{
  font-weight: lighter;
}

.contact-title-container h3{
  font-weight: bold;
  font-size: 3rem;
}

.form-container{
  margin: 2em 1em 1em 0;
}

.form-container
input,textarea{
  width: 100%;
  height: 40px;
  background-color: #010018;
  color: white;
  border: none;
  border-radius: .6rem;
  padding: 1em;
  margin: 1em 0 0 0;
}

.form-container textarea{
  height: 200px;
  resize: none;
}

.form-container label{
    margin-left: .5em;
}

.location-container{
  flex: 50%;
}


.form-control:focus{
  outline: solid white 1px;
}

.button-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.send{
 background-color: #010018;
 border: none;
 color: white;
 padding: 1em 2em 1em 2em;
 border-radius: .7rem;
 cursor: pointer;
 font-weight: bold;
}




@media (max-width: 992px) {
      .contact-form{
    background-color: #020021;
    flex: 100%;
    padding: 2em;
    border-radius: 1rem;
    }

    .location-container{
      flex: 0%;
    }

    #contact{
      padding: 1em 4rem 4em 4rem;
    }

    
}

.link{
  color: white;
  text-decoration: none;
}






